Flask
Flask-Limiter
langchain
langchain-community
langchain-google-genai
langchain-huggingface
langchain-pinecone
langdetect
langgraph
langgraph-checkpoint-postgres
pinecone
psycopg-pool
psycopg[binary]
PyMySQL
python-dotenv
redis
requests
supabase